.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0 ,0.15);
    table-layout: auto;
}
/* 
#thead{
    background-color: #009879;
    color: #ffff;
    text-align: left;
    padding: 12px;
    width:30px;
    border: 1px solid black;
}

#tr{
    padding: 12px 15px;
} */


.table thead{
    background-color: #009879;
    color: #ffff;
}

.table th{
    text-align: left;
    padding: 12px;
    border: 1px solid black;
}
.table tr{
    border-bottom: 1px solid #dddd;
}

.table td, .table th{
    padding: 12px 15px;
    border: 1px solid black;
}


